<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 
{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Add Record</h1>
<br/>

<form method="POST" action="{% url 'add_record' %}">
	{% csrf_token %}

	{{ form.as_p }}

<br/>
  <button type="submit" class="btn btn-secondary">Add Record</button>
   <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

</form>

</div>

{% endblock %}
</body>
</html>